body{
 margin: 0px;
}
header{
min-width:300px; width:100%;
height:8%;
background-color:#363062;
}
.div-header{
 width:100%;
 height:100%;
 display:flex;
}
.header-logo {
 display:flex;
 width:100px;
 min-width:80px;
 height:100%;
}
.header-logo img{
 width:100%;
 height:100%;
}
.header-search{
 display: flex;
 align-items:center;
 width: 60%;
 min-width:180px;
 height: 100%;
 margin: 0px 30px;
}
.header-search input{
 width:100%;
 height: 30px;
 border:none;
 border-radius: 15px 0px 0px 15px;
 padding-left:15px;
 outline:none;
}
.header-search button{
 width:5%;
 min-width:40px;
 border:none;
 border-radius: 0px 15px 15px 0px;
 background-color:white;
 height: 30px;
}
.header-search button:hover{
color:#F99417;
cursor:pointer;
}
.header-links{
 display:flex;
 justify-content:space-around;
 align-items:center;
 width:35%;
}
.header-links a{
 text-decoration:none;
 color:#F5F5F5;
 margin: 25px 25px;
}
.header-links a:hover{
 color:#F99417;
}
.div-body{
display:flex;
justify-content:center;
align-items:center;
flex-wrap: wrap;
background-color: #4D4C7D;
width:100%;
height:92%;
}
.div-form{
 width:350px;
 min-width:300px;
 height:450px;
 background-color:#F99417;
 border: solid 1px black;
 border-radius: 15px;
}
.form-text{
 display:flex;
 align-content:center;
 justify-content:center;
 text-align:center;
 margin:15px 0px 15px 0px;
}
.form-text a{
 text-transform:uppercase;
 width:40%;
 color:#F5F5F5;
 font-weight:bold;
 font-size:15px;
}
.form-input{
display:flex;
justify-content:center;
font-weight:bold;
flex-direction:column;
align-content:center;
align-items:center;
}
.form-input input[type='text'], input[type='number']{
padding:10px;
border-radius:5px;
outline:none;
border: solid 1px black;
margin-top:20px;
}
.form-input input[type='file']{
display:none;
}
.form-input label{
display:flex;
color: white;
border:solid 1px black;
border-radius:5px;
height:40px;
font-size:15px;
text-transform:uppercase;
color:#F5F5F5;
background-color:#4D4C7D;
align-items:center;
justify-content:center;
align-content:center;
margin-top:25px;
width: 200px;
}
.form-input label:hover{
cursor:pointer;
background-color:#363062;
}
.form-button{
display:flex;
align-items:center;
justify-content:center;
}
.form-button button{
margin-top:25px;
color:#F5F5F5;
text-transform:uppercase;
font-weight:bold;
width:200px;
height:40px;
border:solid 1px black;
border-radius:5px;
background-color:#4D4C7D;
}
.form-button button:hover{
cursor:pointer;
background-color:#363062;
}
#resposta{
display:flex;
justify-content:center;
text-align:center;
}
#resposta a{
color:#F5F5F5;
text-transform:uppercase;
font-weight:bold;
}
.card{
width:300px;
height:300px;
margin:15px;
border: solid 1px;
}
.card-nome{
width:100%;
height: 10%;
background-color:green;
text-align:Center;
}
.card-imagem img{
width:100%;
height:50%;
}
.card-valor{
width:100%;
height:10%;
background-color:red;
text-align:center;
}
.card-acao{
width:100%;
height:30%;
display:flex;
background-color:grey;
justify-content:Center;
align-items:center;
text-transform:uppercase;
color:white;
}
.card-acao:hover{
background-color:black;
cursor:pointer;
}
