.div-body{
display:flex;
justify-content:center;
align-items:center;
flex-wrap: wrap;
width:100%;
height:92%;
}
.div-form{
 width:350px;
 min-width:300px;
 height:525px;
 background-color:#F99417;
 border: solid 1px black;
 border-radius: 15px;
}
.form-text{
 display:flex;
 align-content:center;
 justify-content:center;
 text-align:center;
 margin:15px 0px 15px 0px;
}
.form-text a{
 text-transform:uppercase;
 width:40%;
 color:#F5F5F5;
 font-weight:bold;
 font-size:15px;
}
.form-input{
display:flex;
justify-content:center;
font-weight:bold;
flex-direction:column;
align-content:center;
align-items:center;
}
.form-input input[type='text'], input[type='number']{
-moz-appearance: textfield;
padding:10px;
border-radius:5px;
outline:none;
border: solid 1px black;
margin-top:20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-input input[type='file']{
display:none;
}
.form-input label{
display:flex;
color: white;
border:solid 1px black;
border-radius:5px;
height:40px;
font-size:15px;
text-transform:uppercase;
color:#F5F5F5;
background-color:#4D4C7D;
align-items:center;
justify-content:center;
align-content:center;
margin-top:25px;
width: 200px;
}
.form-input label:hover{
cursor:pointer;
background-color:#363062;
}
.form-button{
display:flex;
align-items:center;
justify-content:center;
}
.form-button button{
margin-top:25px;
color:#F5F5F5;
text-transform:uppercase;
font-weight:bold;
width:200px;
height:40px;
border:solid 1px black;
border-radius:5px;
background-color:#4D4C7D;
}
.form-button button:hover{
cursor:pointer;
background-color:#363062;
}
#resposta{
display:flex;
justify-content:center;
text-align:center;
}
#resposta a{
color:#F5F5F5;
text-transform:uppercase;
font-weight:bold;
}
.card{
width:300px;
height:300px;
margin:15px;
border: solid 1px;
}
.card-nome{
width:100%;
height: 10%;
background-color:green;
text-align:Center;
}
.card-imagem img{
width:100%;
height:50%;
}
.card-valor{
width:100%;
height:10%;
background-color:red;
text-align:center;
}
.card-acao{
width:100%;
height:30%;
display:flex;
background-color:grey;
justify-content:Center;
align-items:center;
text-transform:uppercase;
color:white;
}
.card-acao:hover{
background-color:black;
cursor:pointer;
}
