<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/header.css" />
	</head>
	<body>
		<header>
			<div class="div-header">
				<div class='header-logo'>
					<img src="../img/cat.png"></img>
				</div>
				<div class='header-search'>
						<input type="text" placeholder='Digite o nome do produto desejado'></input><button type='button' onclick='Pesquisar()'>a</button>
				</div>
				<div class='header-links'>
					<a href="../index.html">Produtos</a>
					<a href="carrinho.html">Carrinho</a>
					<a href='remover.html'>Remover</a>
				</div>
			</div>
		</header>
	</body>
</html>
